:root{
    --primary-color-dim:rgba(183, 234, 247, 0.478);
    --primary-color:rgb(0,202,255);
    --secondary-dark-blue:rgb(1,84,164);
    --milk-white:rgb(255,255,255);
    --heading-text-color:rgb(136,136,136);
    --normal-text-color:rgb(188,200,218);
}

.service {
    position: relative;
    width: 100%;

    background-color: rgb(255,255,255);
}
#Unwind-recharge-h1{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;

}

.Let-us-p{
   color: rgb(178,168,157);
}
.service-item{
    height: auto;
}
.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid rgba(80, 39, 39, 0.07);
    transition: .3s;
}

.Detox-Retreat-p,.Yoga-Healing-Retreat-p,.Adventure-Retreat-p{
    text-align: justify;
    font-family: "Poppins", sans-serif;
    
    
}
#Retreat-h1{
    font-size: 18px;
    color: var(--primary-color);
}

strong{
    color: var(--secondary-dark-blue);
    font-size: 14px;
    /* border: 2px solid white; */
  
    border-radius: 15px;
}
#Retreat-p{
    font-size: 13px;
    /* color: var(--heading-text-color); */
    color: rgb(178,168,157);
}

.service .service-item:hover,
.service .service-item.active {
    background: var(--primary-color);
    color: #ffffff;
    /* background-image: url(./Images//footer-logo-1.png);
    height: auto;
    width: auto; */
    background-repeat: no-repeat;
    background-size: cover;
    /* font-weight: 900; */
 
    background-position: center;
}

.service .service-icon {
    position: relative;
    margin: 0 auto 25px auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service .service-icon i {
    position: relative;
    font-size: 50px;
    color: #343148;
    z-index: 3;
}

.service .service-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border: dashed;
    background: var(--milk-white);
    border-radius: 50%;
    animation: pulse-border 2000ms ease-out infinite;
    
}

.service .service-icon:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background:var(--primary-color);
    border-radius: 50%;
    /* border-style: dashed; */
    transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
    color: var(--milk-white);
}

.service .service-item p {
    margin: 0;
    font-size: 16px;
   
}
/* Add this CSS to change color of #Retreat-p when hovering over .service-item */
.service .service-item:hover #Retreat-p {
    color: #ffffff;
}
.service .service-item:hover #Retreat-h1 {
    color: #ffffff;
}
.service .service-item:hover strong {
    color: #ffffff;
}
.wow {
    box-shadow: 10px 10px 10px solid black;
}