:root{
    --primary-color:rgb(0,202,255);
    --secondary-dark-blue:rgb(1,84,164);
    --milk-white:rgb(255,255,255);
    --heading-text-color:rgb(38,36,37);
    --normal-text-color:rgb(85,85,87);
}

.heading_pr_hr{

    color:var(--milk-white);
    font-size: 22px;
    font-family:'Rubik',sans-serif;
    font-style:italic;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.375);
    padding: 20px;
    
 
}
.pr-full{
    background-image: url("./Images//GoGeo\ Holidays.jpg");

    /* Set a specific height */
    min-height: 200px; 
object-fit: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#flex{
 
    display: flex;
    align-items: center;
    justify-content: 'center';
}
.pr_b{
background-color: transparent;
  color:white;
  border: 2px solid var(--primary-color);
  font-size: 18px;
  padding:10px 30px;
  font-weight: 600;
  transition: 1s;

}
.pr_b:hover{

box-shadow: inset 200px 0 0 0 var(--primary-color);
    transition: 1s;
}